body {}

.container {
    /*수정하기*/
}

.banner {
    height: 200px;
}

.contents {
    height: 600px;
    display: flex;
}

.menus {
    flex: 1;
}

.profile {
    flex: 3;
    background-color: white;
}