.wrap {
    display: flex;
    flex-direction: column;
    height: 1000px;
    /*수정하기*/
    background-color: antiquewhite;
}

.banner {
    margin: 0 auto;
    flex: 1;
}

.container {
    flex: 3;
    display: flex;

}

.menus {
    flex: 1;
}

.profile {
    flex: 3;
    background-color: white;
}