.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px
}

.top {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
}

.profile {
    flex: 4;
    display: flex;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 10%);
}

.picture {
    flex: 2;
    justify-content: center;
    vertical-align: middle;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_envelope {
    width: 150px;
    height: 150x;
    text-align: center;
    border-radius: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    text-align: center;
}

.personal {
    flex: 3;
    justify-content: center;
    border-left: 1px dashed #cccccc;
    padding-left: 50px;
    font-size: 1.2em;
}

.plan {
    flex: 2;
    text-align: center;
    display: flex;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 10%);
}


.bottom {
    width: 100%;
    flex: 0.8;
    display: flex;
    flex-direction: row;
}

.board1 {
    flex: 1;
    height: 100%;
    margin: 20px;
    background-color: rgb(246, 251, 255);
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 20%);
    padding: 20px;
    box-sizing: border-box;
}

.board2 {
    flex: 1;
    height: 100%;
    background-color: rgb(255, 252, 233);
    border-radius: 10px;
    box-shadow: 0px 4px 25px rgb(0 0 0 / 20%);
    padding: 20px;
    box-sizing: border-box;
}

.inner {
    border-bottom: 1px solid black;
}