.container{
    flex:1;
    display:flex;
    flex-direction: column;

}
.top{
    width:100%;
    flex:1;
    display:flex;
    flex-direction: row;
    
}
.picture{
    flex:2;
    justify-content: center;
    vertical-align: middle;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_envelope{
    width:150px;
    height:150x;
    text-align: center;
    border-radius: 50%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    width:100%;
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
    text-align: center;
}
.personal{
    flex:3;
    background-color: aquamarine;
}
.plan{
    flex:3;
    background-color: aqua;
    text-align: center;
}


.bottom{
    width:100%;
    flex:1;
    display: flex;
    flex-direction: row;
}
.board1{
flex:1;
height:100%;
background-color: beige;

}
.board2{
flex:1;
height:100%;
background-color: yellow;
}