.container{
    display:flex;
    flex:1;
    flex-direction: column;
    align-items: center;
  }
  .header{
    flex:1;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
  }
  .middle{
    flex:1;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .day_container{
    margin-left: 70px;
    display:flex;
    width:150px;
    height:300px;
    flex-direction: column;
    border-radius: 30px;
  }
  .day_header{
    flex:1;
    margin-top: 15px;
    margin-bottom: -10px;
    text-align: center;
  }
  .day_progress{
    flex:1;
    display: flex;
    align-items:center;
  }
  .circle{
    flex:1;
    width:100px;
    height:100px;
    text-align: center;
  }
  .day_footer{
    flex:1;
    display:flex;
    text-align: center;
  }
  .button1{
    flex:1;
    margin-top:15px;
    border-radius: 20px;
    border:0ch;
  }
  .week_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom{
    flex:1;
    align-items: center;
  }